li.film-fest.section.title
	h1 фестиваль короткометражных фильмов код места

li.film-fest.section
	ul
		li
			.image
					img(src="https://lh3.googleusercontent.com/-Ta-N-_8moJ4/TlNwMJf_JuI/AAAAAAAAEDs/HQxoWtOJMo4/s500/IMG_2766.jpg")
			.description
				| Конкурс авторских короткометражных фильмов. 
				| Конкурс авторского кино отражает разнообразие взглядов на жизнь русскоязычного иммигранта в Европе вне зависимости от возраста, социального положения и пола. 
				| Всех участников ждут мастер классы и совместная работа.<br>
				| В фестивальном показе фильмов будет выбран лучший видеоролик. Кроме призов и признания победителя и всю команду ждет увлекательная работа над серьезным проектом.<br>
				| Как говорится, оставайтесь с нами.

li.vocal-contest.section.title
	h1 вокальный конкурс колорит 2013
li.vocal-contest.section
	ul
		li
			.image
				img(src="https://lh3.googleusercontent.com/-Ta-N-_8moJ4/TlNwMJf_JuI/AAAAAAAAEDs/HQxoWtOJMo4/s500/IMG_2766.jpg")
			.description
				| Из каждой страны приглашается один/а перспективный певец/певица старше 18 лет, не занимавшие ранее призовые места в международных конкурсах.<br>
				| В странах-участницах пройдут отборочные туры, а их победители приедут в Прагу чтобы выборать лучшего вокалиста русскоязычной европы.
				| Вокальный конкурс колорит продолжает серию конкурсов талантов, которые Клуб ПРАгматики проводит в Праге с 2008 года.
				
				div
					a визитка 1
					a визитка 2
					a визитка 3
	

li.conference.section.title
	h1 конференция

li.conference.section
	ul
		li
			.image
				img(src="https://lh3.googleusercontent.com/-Ta-N-_8moJ4/TlNwMJf_JuI/AAAAAAAAEDs/HQxoWtOJMo4/s500/IMG_2766.jpg")
			.description
				| Реализация проекта фестиваля KOLORITfest возможна только благодаря работе партнеров - организаций, которые в разных странах мира работают над тем, чтобы
				| русскоязычные люди были частью окружающего их общества - в странах, где мы живем, и за из пределами.<br>
				| Нам нравится, когда наша культура встречает другие, и возникает магия.<br>
				| Вместе мы постараемся узнать, как делать это лучше. 

#bottom-nav
#spotlight
	.castings
			.title кастинги<br>
			.dates 7, 14 августа

	.submit-button-col
		a(href="#registration").submit-button
			span.submit-button-padding
				span.submit подать 
				span.request заявку
				
.registration.section.title
h1 регистрация
.registration#registration.section
.description
	| Для регистрации заполните пожалуйста анкету ниже. Постарайтесь дать больше интересной информации о себе.
	<iframe src="https://docs.google.com/forms/d/1HvGuADE0J0uH-H9mYBRqJZ0zpu3ydPNRhV8LIPk-q-k/viewform?embedded=true&f=Times" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

#footer.section
h1 footer


script
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-11865391-3', 'koloritfest.org');
	ga('send', 'pageview');
