.description
	#map
.image
	ul#countries_info
		li Belorussia
		li	
			ul 
				li Белорусское Молодежное Общественное Объединение “Новые лица”
		li Czech Republic
		li	
			ul 
				li Клуб ПРАГматики
		li Finland
		li	
			ul 
				li LOGRUS RY – International Society for youth initiatives
		li France
		li
			ul 
				li Объединение Русофонов во Франции
		li Germany
		li
			ul 
				li JunOst e.V.
		li Greece
		li
			ul 
				li Центр поддержки молодежи “Эгео”
		li Israel
		li
			ul 
				li Фишка / Атид Бамидбар
		li Lithuania
		li
			ul 
				li Ассоциация “Молодежная инициативная группа”
		li Netherlands
		li
			ul 
				li Foundation Moscow Union of Non-Governmental Associations-Societies of Friendship with People of Foreign Countries
		li Russia
		li
			ul 
				li Московская ассоциация юных лидеров
		li Slovakia
		li
			ul 
				li Občianske združenie ROSSIJA
		li UK
		li
			ul 
				li International Publishing Group
		li Ukraine
		li
			ul 
				li Суспiльна органiзацiя Експеримент