ul#menu-root
	li Countries
	li
		ul
			li Belorussia
			li Czech Republic
			li Finland
			li France
			li Germany
			li Greece
			li Israel
			li Lithuania
			li Netherlands
			li Russia
			li Slovakia
			li UK
			li Ukraine
	li Music Festival
	li 
		ul
			li a
			li b
			li c
			li d
	li Film festival
	li Vocal Competition
	li Conference
	li Registration