!!! 5
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=1024')
		meta(name='apple-mobile-web-app-capable', content='yes')
		title Creative BU - Creative Bureau
		meta(name='description', content='Creative BU - Creative Bureau is a full-cycle creative agency. Check our offering and contact us today!')
		meta(name='author', content='http://creativebu.com')
		
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
		script(src='../js/jquery.smooth-scroll.min.js')
		script(src='../js/jquery.collapsible-menus.min.js')
		script(src='../js/jquery-jvectormap-1.2.2.min.js')
		script(src='../js/jquery-jvectormap-world-mill-en.js')
		link(href='../css/style.css', rel='stylesheet')
		link(rel='shortcut icon', href='favicon.png')
		link(rel='apple-touch-icon', href='apple-touch-icon.png')
		script(src='../js/main.js')

	body#top
		ul#main-selection
			li.music-fest.section-title
				h1 музыкальный фестиваль

			li.music-fest.section
				ul
					li
						.left-column
							img(src="https://lh5.googleusercontent.com/-HCgNp-lWkHw/UeQigu92WPI/AAAAAAAAYnk/y-6FDJteaoY/s500/gr1.jpg")
						.right-column
							p Приглашаются перспективные музыкальные коллективы, достигшие высокого уровня исполнения, но не имеющие серьезного географического охвата. Мы хотим дать приоритетную возможность перспективным, талантливым и творческим людям получить международное признание.<br>
							p Преимущество отдается группам, исполняющим авторские песни на русском и другом языке.
							p В Праге каждому коллективу предоставляется отдельное выступление на одной из пражских площадок, мастер классы и обмен опытом с коллегами из других стран.

			li.film-fest.section-title
				h1 фестиваль короткометражных фильмов код места

			li.film-fest.section
				ul
					li
						.left-column
							img(src="https://lh6.googleusercontent.com/-tgm98AbTxdc/UeQilod7bEI/AAAAAAAAYn0/HlHFDnkhpXA/s500/IMG_1731.jpg")
						.right-column									
							p Конкурс авторских короткометражных фильмов. Конкурс авторского кино отражает разнообразие взглядов на жизнь русскоязычного иммигранта в Европе вне зависимости от возраста, социального положения и пола. 
							p Всех участников ждут мастер классы и совместная работа.
							p В фестивальном показе фильмов будет выбран лучший видеоролик. Кроме призов и признания победителя и всю команду ждет увлекательная работа над серьезным проектом.
							p Как говорится, оставайтесь с нами.

			li.vocal-contest.section-title
				h1 вокальный конкурс колорит 2013

			li.vocal-contest.section
				ul
					li
						.left-column
							img(src="https://lh3.googleusercontent.com/-Ta-N-_8moJ4/TlNwMJf_JuI/AAAAAAAAEDs/HQxoWtOJMo4/s500/IMG_2766.jpg")
						.right-column									
							p Из каждой страны приглашается один/а перспективный певец/певица старше 18 лет, не занимавшие ранее призовые места в международных конкурсах.
							p В странах-участницах пройдут отборочные туры, а их победители приедут в Прагу чтобы выборать лучшего вокалиста русскоязычной европы. 
							p Вокальный конкурс колорит продолжает серию конкурсов талантов, которые Клуб ПРАгматики проводит в Праге с 2008 года.

			li.conference.section-title
				h1 конференция

			li.conference.section
				ul
					li
						.left-column
							img(src="https://lh5.googleusercontent.com/-HCgNp-lWkHw/UeQigu92WPI/AAAAAAAAYnk/y-6FDJteaoY/s500/gr1.jpg")
						.right-column
							p Реализация проекта фестиваля KOLORITfest возможна только благодаря работе партнеров - организаций, которые в разных странах мира работают над тем, чтобы русскоязычные люди были частью окружающего их общества - в странах, где мы живем, и за из пределами.
							p Нам нравится, когда наша культура встречает другие, и возникает магия.
							p Вместе мы постараемся узнать, как делать это лучше.

			li.spotlight.section
					.castings
						span.title кастинги 
						span.dates 7, 14 августа

					.submit-button-col
						a(href="#registration").submit-button
							span.submit подать 
							span.request заявку
							
			li.section-title.registration
				h1 регистрация

			li.registration.section
				ul
					li
						.left-column
							img(src="https://lh5.googleusercontent.com/-HCgNp-lWkHw/UeQigu92WPI/AAAAAAAAYnk/y-6FDJteaoY/s500/gr1.jpg")
						.right-column
							| Для регистрации заполните пожалуйста анкету ниже. Постарайтесь дать больше интересной информации о себе.
							<iframe src="https://docs.google.com/forms/d/1HvGuADE0J0uH-H9mYBRqJZ0zpu3ydPNRhV8LIPk-q-k/viewform?embedded=true&f=Times" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

			li.footer.section-title
				h1 footer

			li.footer.section
				ul
					li
						.left-column
							img(src="https://lh5.googleusercontent.com/-HCgNp-lWkHw/UeQigu92WPI/AAAAAAAAYnk/y-6FDJteaoY/s500/gr1.jpg")
						.right-column
							p Реализация проекта фестиваля KOLORITfest возможна только благодаря работе партнеров - организаций, которые в разных странах мира работают над тем, чтобы русскоязычные люди были частью окружающего их общества - в странах, где мы живем, и за из пределами.
							p Нам нравится, когда наша культура встречает другие, и возникает магия.
							p Вместе мы постараемся узнать, как делать это лучше.

							