//- For example this fallback message is only visible when there is `impress-not-supported` class on body.

/*
languages = [{"path":"en", "lang":"eng"}, {"path":"cs", "lang":"čes"}, {"path":"ru", "lang":"рус"}]
ul.topmenu(style="pointer-events: all")
	each l in languages
		li
			if(l.path != page.url.split("/")[1])
				<a href="/#{l.path}/">#{l.lang}</a>
			else
				| #{l.lang}
	li blog
	li 
		a(href="http://cmpip.org") CMPI
	li история фестиваля
	li для прессы
*/
#menu
	include hanging-menu
	
#heading.section
	.logo
		.kolorit
			| 
			.fest
				| 
		.subtitle
			| международный музыкальный фестиваль русскоязычной культуры
	.firstline
		.dates
			| 3-16<br>
			| октября<br>
			| Прага

	.news
		p <b>Впервые вместе на одной сцене в прекрасном городе Прага! Уже совсем скоро - не упусти свой шанс стать звездой!</b>
		p Уже пятый сезон Клуб ПРАГматики проводит пражский музыкальный фестиваль «KOLORITfest 2013».  На этот раз все гораздо шире, выше и масштабнее – мы не только пригласили двенадцать европейских стран принять участие в конкурсе, но и расширили категории выступлений:
		p Соло вокалисты любых стилей
		p Музыкальные группы всех направлений и впервые – режиссеры и создатели короткометражных фильмов
		p Мечтаешь о творческой карьере или хочешь поделиться своим талантом?
		p Целенаправленно идешь к своей мечте и видишь себя на большой сцене?				 
		p Тогда у тебя есть все шансы… Прими участие в фестивале «KOLORITfest 2013»
		p Мы приглашаем всех желающих принять участие в конкурсе Колорит 2013, где можно осуществить свою мечту, поделиться своим талантом, познакомиться с огромным количеством интересных людей, поучиться у мастеров сцены и вокала, здесь можно все…

	.heading-text
		column


	li.countries.section.title
		h1 страны
	li.countries.section
		ul
			li
				include countries
				