@import './semantic/grid.less';
@import './jquery-jvectormap-1.2.2.css';

@import url(http://fonts.googleapis.com/css?family=Russo+One&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=EB+Garamond&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab&subset=latin,cyrillic);

/* @column-width: 60; */
@gutter-width: 20;
@columns: 12;
@total-width: 100%;

@f_col : #ff7e0d;
@k_color : #30a8ff;
@o1_color :#48f40b;
@l_color : #ff411a;
@o2_color : #ffe01e;
@r_color : #10e5c6;
@i_color : #9c3df2;
@t_color : #7af41a;

@kk1 : @f_col;
@kk2 : @k_color;
@kk3 : @o1_color;
@kk4 : @l_color;
@kk5 : @o2_color;
@kk6 : @r_color;
@kk7 : @i_color;
@kk8 : @t_color;

@color-conference : @o2_color;
@color-vocal-contest : @k_color;
@color-music-fest : @o1_color;
@color-film-fest : #6D00A1;

@page-padding : 100px;


body
{
	margin : 0;
	font-family : 'Roboto Slab';
	font-size : 19px;
}

h1
{
	font-family: "Russo One";
	font-size : 50pt;
}


ul#main-selection
{
	margin : 0;
	padding : 0;
	
	
	li, li ul li { 
		list-style : none; 
		display : block;
		padding : 0;
		margin : 0;
	}
	
	color : white;
	
	.section-title
	{
		padding : 1px 50px;
	}
	
	.section
	{
		display : block;
		padding-bottom : 80px;
		
		li { 
			display : block; 
			padding : 0;  
			margin-left : -57px;
			overflow : auto; 
		}
		
		.left-column
			{
				.column(4);
			}

		.right-column
			{
				.column(7);
				p:first-child {
					margin-top : -5px;
					padding-top : 0;
					&:first-line {

					}
				}
			}
	}
	
	&:after {
		clear:both;
	}
}

.music-fest { background-color : @color-music-fest; }
.film-fest { background-color : @color-film-fest; }
.vocal-contest { background-color : @color-vocal-contest; }
.spotlight { 
	width : 100%;
	background-color : @color-vocal-contest;
	height : 154px;
	bottom : 0;
	padding-bottom : 0px !important;
	position : fixed;

	font-size : 60pt;
	font-family : "Russo One";
	
	.castings
	{
		.column(6);
		padding-left : @page-padding;
		margin-top : -20px;
		.title { margin-top : 0px; color : @color-conference; }
		.dates { padding-left : 20px; margin-top : -40px; display : block}
	}
	
	.submit-button-col
	{
		.push(7);
		font-size: 60pt;
		.submit-button a:link, .submit-button a:visited, .submit-button a:active { }
		.submit-button
		{
			display: block;
			width : 330px;
			height : 134px;
			display : block;
			margin-top : -20px;
			padding-left : 40px;
			border : red 20px solid;
			line-height : 60px;
			text-decoration : none;
			color : white;
			.request { color : black; }
		}
	}
}
.conference { background-color : @color-conference; }
.footer { background-color : @color-conference; }





